* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
}

button {
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  margin: 0;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main';
}
