h1, p {
  font-family: Lato;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: 
  "sidebar header header header"
  "sidebar main main main"
  ;
}

