h1,
p {
  font-family: Lato;
}

body {
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr auto;
  margin: 0;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main';
}
