.main {
  grid-area: main;
  display: grid;
  padding: 1em;
  padding-left: 2em;
  background: #1d3557;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 80px repeat(1,1fr);
  grid-template-areas: 
    "title AT"
    "card AT"
    ;
}

.project-header-title {
  border: 1px solid brown;
  grid-area: title;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3,200px);
  grid-gap: 1em;
}

.project-card {
  border: 1px solid rgb(206, 22, 175);
  background-color: #f1faee;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
}

.project-card > h4 {
  padding-left: 0.8em;
  padding-right: 0.6em;
}

.project-card > p {
  font-weight: 300;
  padding-left: 0.8em;
  padding-right: 0.6em;
}

.project-button-row{
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  padding: 1em;
}

.project-button-row>button {
  margin: 0.2em;
}

.AT{
  grid-area: AT;
  padding: 1em;
}

.announcement-card{
  border: 1px dashed red;
  line-height: 1.5rem;
}

.trending-users{
  border: 1px dotted black;
}

.user {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.trending-user-profile {
  padding: 0.5em;
}

p.trending-project-name {
  margin-top: 0.5em;
}
