.main {
  grid-area: main;
  display: grid;
  padding: 1em;
  padding-left: 2em;
  background: #1d3557;
  color: #f1faee;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 80px repeat(1, 1fr);
  grid-template-areas:
    'title AT'
    'card AT';
}

/* Card Section */
.project-header-title {
  grid-area: title;
  height: 30%;
  align-self: end;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 200px);
  grid-gap: 1em;
}

.project-card {
  border-radius: 8px;
  border-left: 9px solid #fca311;
  background-color: #f1faee;
  color: #1d3557;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
}

.project-card > h4 {
  padding-left: 0.8em;
  padding-right: 0.6em;
}

.project-card > p {
  font-weight: 300;
  padding-left: 0.8em;
  padding-right: 0.6em;
}

.project-button-row {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 1em;
}

.project-button-row > button {
  margin: 0.2em;
  background-color: #f1faee;
  border: none;
  font-size: 1.1rem;
}

/* Announcements section */
.AT {
  grid-area: AT;
  padding: 1em;
}

.container {
  padding: 1.1em;
}

.announcement-card {
  background-color: #f1faee;
  color: #1d3557;
  border-radius: 8px;
}

.container > p {
  padding: 1em;
  line-height: 1.7;
  display: block;
}

.container > p:not(:last-child) {
  border-bottom: 1px solid #8d99ae;
}

.container > h4 {
  padding: 1em;
  margin: 0;
}

/* Trending section */
.trending-users {
  max-width: 85%;
  background-color: #f1faee;
  color: #1d3557;
  padding: 1em;
  border-radius: 8px;
}

.user {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.trending-user-profile {
  padding: 1em;
}

p.trending-project-name {
  margin-top: 0.5em;
}

@media (min-width: 800px) {
  .trending-users {
    max-width: 70%;
  }
}
