.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  background-color: #e63946;
  color: white;
  padding-left: 2em;
  padding-right: 2em;
}

a {
  text-decoration: none;
  color: inherit;
}

span {
  margin-left: 1em;
}

.item-row-1 {
  display: flex;
  flex-direction: column;
  line-height: 2em;
  margin-top: 1.5em;
}

.item-row-2 {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  line-height: 2em;
}

.title {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  margin: 0;
}

.title > img {
  width: 30px;
  margin-right: 0.7em;
}
